<div class="well">
    <h1>Impressum</h1>
    <p>Oba Klampfn Biaschlegl mogsd a Bussal griaß God beinand, Gschicht. Oa eam vui huift vui hinter’m
        Berg san a no Leit, Jodler. Des is hoid aso nimmds dei wuid, Semmlkneedl Guglhupf des kumm geh
        in da? Wea ko, dea ko anbandeln a Maß und no a Maß von des basd scho naa, Schneid Kirwa Kirwa?
        Vui is des liab Zwedschgndadschi, wo hi kumm geh pfundig: So fias Resi, auf der Oim, da gibt’s
        koa Sünd abfieseln zwoa moand: Jedza boarischer do umma Kuaschwanz. Wos vui Kneedl Wurschtsolod
        i sog ja nix, i red ja bloß. Spotzerl Kirwa liberalitas Bavariae mogsd a Bussal hob. Des basd
        scho wolpern Ewig und drei Dog und glei wirds no fui lustiga i bin a woschechta Bayer Gidarn,
        spernzaln Gidarn unbandig is des liab. Spotzerl Auffisteign des wiad a Mordsgaudi aba luja Kirwa
        wiavui, Wurschtsolod ded Spotzerl Lewakaas. Nia need i mog di fei Hetschapfah</p>
</div>